# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.PPzD-master.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\sfchool\WSEI\_Podstawy_Pracy_z_Dzwiekiem\PPzD_Lab7\PPzD-master\.idea\.idea.PPzD-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
